*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.head_text{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:sans-serif;
    font-size: 1.75em;
}

.space{
    width:100%;
    padding: 10px;
    background-color: aquamarine ;

}

@media (min-width: 992px) {

    .space{
        width:100%;
        padding: 10px;
        background-color: aquamarine ;

    }


    .planet1 {
        width: 25%;
        background-color: chocolate;
        float: left;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;

        margin-left: 6.25%;
    }

    .block {
        width: 40%;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding: 2px;
        float: right;
        text-align: center;
    }

    .color1 {
        background-color: crimson;
    }

    .planet2 {
        width: 25%;
        background-color: darkslateblue;
        float: left;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;

        margin-left: 6.25%;
    }

    .color2 {
        background-color: darkorange;
    }

    .planet3 {
        width: 25%;
        float: left;
        background-color: lightcoral;
        border: 2px solid black;
        margin-right: 6.25%;
        margin-left: 6.25%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .color3 {
        background-color: midnightblue;
    }

    section {
        clear: both;
    }

}

@media (min-width: 768px)and (max-width: 991px) {



    .planet1 {
        width: 40%;
        background-color: chocolate;
        float: left;
        border: 2px solid black;

        margin-left: 6.67%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .block {
        width: 40%;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding: 2px;
        float: right;
        text-align: center;
    }

    .color1 {
        background-color: crimson;
    }

    .planet2 {
        width: 40%;
        background-color: darkslateblue;
        float: right;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 6.67%;
    }

    .color2 {
        background-color: darkorange;
    }

    .planet3 {
        width: 86.7%;
        float: left;
        background-color: lightcoral;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 6.67%;

    }

    .color3 {
        background-color: midnightblue;
    }

    section {
        clear: both;
    }

}

@media(max-width: 767px){

    .planet1 {
        width: 88.67%;
        background-color: chocolate;
        float: left;
        border: 2px solid black;

        margin-left: 6.67%;

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .block {
        width: 40%;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        padding: 2px;
        float: right;
        text-align: center;
    }

    .color1 {
        background-color: crimson;
    }

    .planet2 {
        width: 88.67%;
        background-color: darkslateblue;
        float: left;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 6.67%;
    }

    .color2 {
        background-color: darkorange;
    }

    .planet3 {
        width: 88.67%;
        float: left;
        background-color: lightcoral;
        border: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 6.67%;

    }

    .color3 {
        background-color: midnightblue;
    }

    section {
        clear: both;
    }

}